body {
    padding-bottom: 70px;
    font-family: 'Josefin Sans', sans-serif; 
    /* font-family: 'Crimson Text', serif;  */
    /* font-family: 'News Cycle', sans-serif; */
}
.navbar-fixed {
    height: 60px;
}
.wbstName {
    font-size: 36px;
    color: #1565c0;
    margin-left: 2%;
}
.nbsty {
    font-size: 25px;
    color: #1565c0;
}
.act {
    background-color: orange;
    color: #333;
    text-emphasis: bold;
}
.top {
    background-image: url("PHB_cover_art.jpg");
    width: 100%;
    height: 600px;
    display: flex;
    align-items: flex-start
}
h1{
    color: #f3f3f3;
    margin: 30px;
    padding: 30px;
    margin-left: 30px;
    /* font-family: 'Almendra SC', serif; */
    /* font-family: 'Macondo', cursive; */
    font-family: 'Metal Mania', cursive;
}
.blogPosts {
    margin-top: 75px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
        flex-direction: column;
        justify-content: center;
    font-family: 'Crimson Text', serif; 
    /* font-family: 'News Cycle', sans-serif ; */
}
.title {
    font-size: 32px;
    text-align: center;

}
.addDate {
    color: gray;
    font-style: italic;
    font-size: 20px;
}
p {
    font-size: 24px
} 
.soon {
    font-family: 'Asap', sans-serif;
    text-align: center;
    background-color: #616161;
    padding: 75px;
    border: 7px groove #333333;
    margin: 50px;
}
.footer {
    background-color: #212121;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
}