/* Articles */
.artBody {
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
        flex-direction: column;
        justify-content: center;
    font-family: 'Crimson Text', serif; 
    /* font-family: 'News Cycle', sans-serif ; */
}
.artBody p1 {
    font-size: 36px;
    text-align: center;

}
.artBody p2 {
    font-size: 24px;
    text-align: center;

}
.artBody p4 {
    font-size: 30px;
    text-align: center;
}
.blogPosts .addDate {
    color: gray;
    font-style: italic;
    font-size: 20px;
}
.artBody p {
    font-size: 20px
} 
.artBody li {
    font-size: 20px;
}

/* Two Column (classes) */
.artBody table {
    margin-left: 40px;
    margin-right: 20px;
}
.artBody table td {
 margin-top: 15px;
 padding: 15px;
 vertical-align: top;
}
.artBody table p {
    font-size: 20px
} 
.artBody table p1 {
    font-size: 36px;
    text-align: center;

}
.artBody table p2 {
    font-size: 24px;
    text-align: center;

}
.artBody table p4 {
    font-size: 30px;
    text-align: center;
}