/* BLOG LANDING PAGE */
.blogChoices {
    font-family: 'Crimson Text', serif; 
    font-size: 36px;
    margin: 90px 20px 20px 10px;
    text-align: center;
    display: flex;
        flex-direction: column;
        justify-content: center;
}
.blogChoices a:link{
    background-color: #3478b8;
    color: #f1f1f1;
    text-decoration:  none;
    padding: 10px;
    display: block;
    border:5px solid #333333

}
.blogChoices a:hover{
    color: #3478b8;
    background-color: #333333;
    border:5px solid #333333

}

/* BLOG POSTS */
.blogPosts {
    margin-top: 75px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
        flex-direction: column;
        justify-content: center;
    font-family: 'Crimson Text', serif; 
    /* font-family: 'News Cycle', sans-serif ; */
}
.blogPosts .title {
    font-size: 32px;
    text-align: center;

}
.blogPosts .addDate {
    color: gray;
    font-style: italic;
    font-size: 18px;
    margin: 7px;
    text-align: center
}
.blogPosts p {
    font-size: 24px;
    margin: 5px, 0, 5px, 0;
} 
.blogPosts p4{
    font-size: 24px;
}