/* BODY STYLES */
body {
    padding: 0 0 70px 0px;
    font-family: 'Josefin Sans', sans-serif; 
    /*   font-family: 'News Cycle', sans-serif;   */
    margin: 0;
    background-color: #f3f3f3;
}
.body {
    padding-left: 160px;
}

/* NAVBAR STYLES */
.sideBar {
    height: 100%; 
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.sideBar a {
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: #f1f1f1;
    display: block;
    text-align: center;
    font-size: 28px;
    border-bottom: 2px solid #f1f1f1;
}
.sideBar a:hover {
    background-color: #f1f1f1;
    color:#111
}
.active {
    background-color: #3478b8;
} 

/* TOP PIC AND TITLE */
.wbstName {
    display: block;
    font-size: 64px;
    color: #3478b8;
    background-color: #323232;
    text-align: center;
    margin: 0px;
    padding: 20px;
    border-bottom: 2px solid #f1f1f1;

}
.top img{
    max-width: 120%;
    height: auto;
    
}
.top h1{
    color: #f3f3f3;
    /* font-family: 'Almendra SC', serif; */
    /* font-family: 'Macondo', cursive; */
    font-family: 'Metal Mania', cursive;
    font-size: 56px;
    text-align: left;
    position: absolute;
    top: 80px;
    left: 180px;
}
/* CROSS PAGES TEXT STYLES */
.extraMargin {
    margin-left: 5%;
    margin-right: 5%;
}

/* THE COMING SOON MESSAGE */
.soon {
    text-align: center;
    background-color: #3478b8;
    padding: 75px;
    border: 7px groove #333333;
    margin: 50px;
}
.soon h1 {
    font-family: 'Metal Mania', cursive;
    font-size: 56px;
}
.soon p {
    font-size: 28px;
    font-family: 'News Cycle', sans-serif;

}

/* FOOTER */
.footer {
    background-color: #323232;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: right;
}
.footer p3 {
    color: #616161;
    margin-right: 15px;
    margin-top: 10px;

}