.terms {
    display: flex;
    justify-content: center;
}
th {
    padding: 10px;
    text-align: center;
}
td {
    text-align: left !important;
    padding: 12px
}
.deff {
    padding-left:16px;
}

table {
    border-collapse: collapse;
    font-size: 22px;
}

table, th, td {
    border-bottom: 1px solid black;
}